/* STYLE */
@charset "UTF-8";

/* 1. Déclaration de l'ordre de priorité des couches
(du moins prioritaire au plus prioritaire) */
@layer settings, base, layout, components;

/* 2. Importation des fichiers physiques dans les couches virtuelles */

/* Dossier : css/settings/ */
@import url("css/settings/variables.css") layer(settings);

/* Dossier : css/base/ */
@import url("css/base/normalize.css") layer(base);
/* @import url("css/base/typography.css") layer(base); */

/* Dossier : css/layout/ */
/* @import url("css/layout/grid.css") layer(layout); */

/* Dossier : css/components/ */
@import url("css/components/menu.css") layer(components);
/* @import url("css/components/accordeon.css") layer(components); */
/* @import url("css/components/modale.css") layer(components); */

/* Temporaire - Pour tester une variable définie dans les settings */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Screen reader only*/
.screen-reader-only,
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
body {
  background-color: var(--couleur-background);
  font-family: "Barlow", sans-serif;
}
h1 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight:900;
}
/*Navigation/Menu*/
header {
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--couleur-noire);
}
.nav-menu__genre{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  text-transform: uppercase;
}
.nav-accueil { 
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--couleur-blanc);
  margin-top: 0px;
}
.nav-menu__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 5px;
  list-style: none;
}
.nav-menu__link {
  color: var(--couleur-blanc);
  text-decoration: none;
  font-size: small;
  text-transform: uppercase;
}
.nav-accueil:hover,
.nav-accueil:active,
.nav-menu__link:hover,
.nav-menu__link:active {
  color: var(--couleur-bleu);
}
.nav-menu__recherche {
  display: flex;
  flex-direction: row;
}
.nav-menu__rechercher {
  margin: 0px;
  border: none;
  border-radius: 15px;
  background-color: var(--couleur-texte-un);
  padding: 5px 10px 5px 10px;
  background-image: url(icones/Loupe.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 95% 50%;
}
.nav-menu__recherche input::placeholder {
  color: #737d8d;
  padding-left: 5px;
}
.nav-menu__panier {
  margin-top: 5px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}
/*Section du haut (titre)*/
main {
  margin-left: 40px;
  margin-right: 40px;
}
.chemin-acces {
  color: var(--couleur-texte-trois);
  font-size: 0.8rem;
}
.titre-principale {
  color: var(--couleur-texte-un);
  font-size: 3.438rem;
  margin-top: -10px;
  margin-bottom: -10px;
}
.filtre-haut {
  border: none;
  margin: 30px 0 30px -40px;
}
.filtre-haut__list {
  display: flex;
  flex-direction: row;
  border: none;
  list-style: none;
}
.filtre-haut__lien {
  margin-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--couleur-noire);
  padding: 10px;
  border: var(--couleur-border) 1px solid;
  background-color: var(--couleur-blanc);
}
.filtre-haut__lien:hover,
.filtre-haut__lien:active {
  color: var(--couleur-blanc);
  background-color: var(--couleur-noire);
}

/*Section Masquer filtre*/
.filtre {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 -40px 0 -40px;
  padding: 20px 40px 20px 40px;
  border-top: solid 1px var(--couleur-border);
  border-bottom: solid 1px var(--couleur-border);
  background-color: var(--couleur-blanc);
}
.filtre-masquer {
  display:flex;
  flex-direction: row;
}
.filtre-masquer__texte {
  margin-top: 0px;
  margin-bottom: -10px;
  padding-left: 5px;
}
.filtre-masquer__icone {
  margin-top: 5px;
  max-width: 20px;
  max-height: 20px;
}
.filtre-trie label {
  color: var(--couleur-texte-trois);
  padding-right: 10px;
}
.filtre-trie select {
  border: solid 1px var(--couleur-border);
  padding: 5px;
  color: var(--couleur-texte-un)
}
/*Section filtre coté (filtre précis)*/
.filtre-section {
  display: flex;
  flex-direction: row;
  gap:50px;
  margin-top: 10px;
}
.filtre-precis {
  padding-top: 15px;
}
.fieldset-sport,
.fieldset-prix,
.fieldset-couleur,
.fieldset-pointure {
  border: none;
  border-bottom: solid 1px var(--couleur-border);
  width: 250px;
}
.filtre-checkbox {
  padding-top: 15px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filtre-checkbox p {
  margin-top: 0px;
}
.filtre-checkbox__item {
  padding-bottom: 5px;
}
/*Section Article*/
.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.article-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: var( --couleur-blanc);
}
.article-item p,
.article-item h3 {
  margin-bottom: -5px;
}
.article-item__nouveau,
.article-item__sexe,
.article-item__nom,
.article-item__nbcouleur,
.article-item__prix {
  padding-left: 20px;
}
.article-item__nouveau {
  opacity: 0;
  position: absolute;
 
}
.article .article-item:nth-of-type(1) .article-item__nouveau,
.article .article-item:nth-of-type(6) .article-item__nouveau,
.article .article-item:nth-of-type(7) .article-item__nouveau,
.article .article-item:nth-of-type(9) .article-item__nouveau,
.article .article-item:nth-of-type(12) .article-item__nouveau{
  opacity: 1;
  color: var(--couleur-blanc);
  background-color: var(--couleur-noire);
  padding: 7px; 
  text-transform: uppercase;
  font-size: 0.9rem;
}

.article-item__sexe {
  color: var(--couleur-bleu);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}
.article-item__nom {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.3rem;
}
.article-item__nbcouleur {
  color: var(--couleur-texte-trois);
}
.article-item__prix {
  padding-bottom: 20px;
  font-weight: bold;
}
.article-item__panier {
  color: var(--couleur-texte-trois);
  border: solid 1px var(--couleur-border);
  background-color: var(--couleur-blanc);
  padding: 10px;
  text-decoration: none;
  align-items: stretch;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}
.article-item__panier:hover {
  color: var(--couleur-blanc);
  border: solid 1px var(--couleur-border);
  background-color: var(--couleur-bleu);
}
/*Article Popup*/
.article__popover::backdrop {
    background-color: black;
    opacity: 0.5;
}
.popover-popup {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.popup-panier {
  color: var(--couleur-texte-un);
  border-bottom: solid 1px var(--couleur-border);
  padding: 10px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -10px;
}
.popup__image {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.popup__image .article-item__img {
  width: 150px;
  height: 150px;
}
.popup-lien {
  color: var(--couleur-texte-un);
  border: solid 1px var(--couleur-border);
  padding: 10px;
  text-decoration: none;
  align-items: stretch;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.popup-lien:hover {
  color: var(--couleur-blanc);
  background-color: var(--couleur-noire);
}
/*Section pagination article*/
.pagination-list {
  display: flex;
  flex-direction: row;
  border: none;
  list-style: none;
  margin-top: 70px;
  justify-content: center;
}
.pagination-lien {
  margin-right: 10px;
  text-decoration: none;
  color: var(--couleur-noire);
  padding: 10px 15px 10px 15px;
  border: var(--couleur-border) 1px solid;
  background-color: var(--couleur-blanc);
}
.pagination-lien:hover,
.pagination-lien:active {
  color: var(--couleur-blanc);
  background-color: var(--couleur-noire);
}
@media (min-width:660px) {
  .pagination-list {
    justify-content: flex-end;
    margin-right: 31.5%;
  }
}
/*Pied de page*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: -20px;
  padding: 40px;
  background-color: #2A2A2A;
  color: var(--couleur-blanc);
}
.nav-menu__pied {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  margin-top: 0px;
}
.nav-media {
  margin-top: 0px;
}
.nav-pied__texte {
  font-size: 0.7rem;
  color: var(--couleur-texte-trois);
}
.nav-menu .nav-pied__texte {
  padding-left: 40px;
}
.nav-media {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.nav-media__item {
  list-style: none;
}