/* STYLE */
@charset "UTF-8";

/* 1. Déclaration de l'ordre de priorité des couches
(du moins prioritaire au plus prioritaire) */
@layer settings, base, layout, components;

/* 2. Importation des fichiers physiques dans les couches virtuelles */

/* Dossier : css/settings/ */
@import url("css/settings/variables.css") layer(settings);

/* Dossier : css/base/ */
@import url("css/base/normalize.css") layer(base);
/* @import url("css/base/typography.css") layer(base); */

/* Dossier : css/layout/ */
/* @import url("css/layout/grid.css") layer(layout); */

/* Dossier : css/components/ */
@import url("css/components/menu.css") layer(components);
/* @import url("css/components/accordeon.css") layer(components); */
/* @import url("css/components/modale.css") layer(components); */

/* Temporaire - Pour tester une variable définie dans les settings */

/*Screen reader only*/
.screen-reader-only,
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
body {
  background-color: var(--couleur-background);
}
/*Section du haut (titre)*/
main {
  margin-left: 40px;
  margin-right: 40px;
}
.chemin-acces {
  color: var(--couleur-texte-trois);
  font-size: 0.8rem;
}
.titre-principale {
  color: var(--couleur-texte-un);
  font-size: 3.438rem;
  margin-top: -10px;
  margin-bottom: -10px;
}
.filtre-haut {
  border: none;
  margin: 30px 0 30px -40px;
}
.filtre-haut__list {
  display: flex;
  flex-direction: row;
  border: none;
  list-style: none;
}
.filtre-haut__lien {
  margin-right: 10px;
  text-decoration: none;
  color: var(--couleur-noire);
  padding: 10px;
  border: var(--couleur-border) 1px solid;
  background-color: var(--couleur-blanc);
}
.filtre-haut__lien:hover,
.filtre-haut__lien:active {
  color: var(--couleur-blanc);
  background-color: var(--couleur-noire);
}

/*Section Masquer filtre*/
.filtre {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 -40px 0 -40px;
  padding: 20px 40px 20px 40px;
  border-top: solid 1px var(--couleur-border);
  border-bottom: solid 1px var(--couleur-border);
}
.filtre-masquer {
  display:flex;
  flex-direction: row;
}
.filtre-masquer__texte {
  margin-top: -3px;
  margin-bottom: -10px;
  padding-left: 5px;
}
.filtre-masquer__icone {
  max-width: 20px;
  max-height: 20px;
}
/*Section filtre coté (filtre précis)*/
.filtre-section {
  display: flex;
  flex-direction: row;
  gap:50px;
  margin-top: 10px;
}
.filtre-precis {
  padding-top: 15px;
}
.fieldset-sport,
.fieldset-prix,
.fieldset-couleur,
.fieldset-pointure {
  border: none;
  border-bottom: solid 1px var(--couleur-border);
  width: 250px;
}
.filtre-checkbox {
  padding-top: 15px;
  text-transform: uppercase;
}
.filtre-checkbox__item {
  padding-bottom: 5px;
}
/*Section Article*/
.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.article-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: var( --couleur-blanc);
}
.article-item p,
.article-item h3 {
  margin-bottom: -5px;
}
.article-item__nouveau,
.article-item__sexe,
.article-item__nom,
.article-item__nbcouleur,
.article-item__prix {
  padding-left: 20px;
}
.article-item__nouveau {
  opacity: 0;
  position: absolute;
}
.article .article-item:nth-of-type(1) .article-item__nouveau,
.article .article-item:nth-of-type(6) .article-item__nouveau,
.article .article-item:nth-of-type(7) .article-item__nouveau,
.article .article-item:nth-of-type(9) .article-item__nouveau,
.article .article-item:nth-of-type(12) .article-item__nouveau{
  opacity: 1;
  color: var(--couleur-blanc);
  background-color: var(--couleur-noire);
  padding: 5px;
}

.article-item__sexe {
  color: var(--couleur-bleu);
}
.article-item__nom {
  font-weight: bold;
}
.article-item__nbcouleur {
  color: var(--couleur-texte-trois);
}
.article-item__prix {
  padding-bottom: 20px;
}
.article-item__panier {
  color: var(--couleur-texte-trois);
  border: solid 1px var(--couleur-border);
  padding: 10px;
  text-decoration: none;
  align-items: stretch;
  text-align: center;
}
.article-item__panier:hover {
  color: var(--couleur-blanc);
  border: solid 1px var(--couleur-border);
  background-color: var(--couleur-bleu);
}
/*Section pagination article*/
.pagination-list {
  display: flex;
  flex-direction: row;
  border: none;
  list-style: none;
  margin-top: 70px;
  justify-content: center;
}
.pagination-lien {
  margin-right: 10px;
  text-decoration: none;
  color: var(--couleur-noire);
  padding: 10px 15px 10px 15px;
  border: var(--couleur-border) 1px solid;
  background-color: var(--couleur-blanc);
}
.pagination-lien:hover,
.pagination-lien:active {
  color: var(--couleur-blanc);
  background-color: var(--couleur-noire);
}
@media (min-width:660px) {
  .pagination-list {
    justify-content: flex-end;
    margin-right: 31.5%;
  }
}